a {
  color: #00B7FF;
  margin-right: 20px;
}

.mainrow {
  vertical-align: middle;
}

.right-side-button{
  float:right;
}

.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 300;
  overflow-y: auto;
  width: auto;
  table-layout: fixed;
  vertical-align: center;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}



